*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: #ccc;
}
.container{
    max-width: 900px;
    margin: 0 auto;
}
.apply_box{
    max-width:600px;
    padding: 20px;
    background-color: white;
 border-radius: 20px;
 margin: 0 auto;
 margin-top: 50px;
}
.form_container{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap:10px;
}

.form_control{
display: flex;
flex-direction: column;
}
label {
    font-size: 15px;
    margin-bottom: 5px;
  }
  
  input,
  select,
  textarea {
    padding: 6px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 15px;
  }
  
  .button_container{
    display: flex;
    justify-content: end;
  }
  button{
    background-color: red;
    padding: 10px;
    border-radius: 6px;
    border: black solid 3px;
    color: aliceblue;
  }
  .textarea_control {
    grid-column: 1 / span 2;
  }
  .textarea_control textarea {
    width: 100%;
  }