*{
margin: 0;
padding: 0;
box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;

}
html,body{
    scroll-behavior: smooth;
}

.Container_for_nav{
    max-width: 1200px;
    margin: 0px auto;
   
}
.Container_for_nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


nav{
background-color: #0089B7;
height: 80px;
align-content: center;
}

nav h1{
    padding: 10px;
    font-size: 35px;
    color: white;
}
.links ul {
display: flex;
flex-direction: row;
gap: 40px;
list-style: none;

}
.links li{
    font-size: 25px;
    color: white;
}
.links a{
    text-decoration: none;
    border: none;
}

span#Hi{
    color: yellow;
}

/* Main_Content */

.Container{
    max-width: 1200px;
    margin: 0px auto;
}

.Hero_section_container{
    display: flex;
    flex-direction: row;
   align-items: center;
 justify-content: space-between;
 padding: 40px;
}

#Hero_section{
background-color:#003D62;
border-bottom: 5px solid #00668F;
}

#Hi{
    font-size: 80px;
}

#Im{
    font-size: 30px;
}

#Sanjay{
    font-size: 80px;
margin-left: 10px;
}



#Hi,#Im,#Sanjay,#Frontend{
    color: white;
}

/* Project_section */





#Project_section{
    background-color: #003251;
    height:min-content;
    padding-bottom: 100px;
   
}
.text_Container{
    align-self: center;
    margin: 0px auto;
}
#Projects{
    padding: 50px 0px;
    font-size: 50px;
    color: white;
    text-align: center;
}

.Project_container{
    border-radius: 5px;
    overflow: hidden;
}

.Grid_container{
display: grid;
grid-template-columns: repeat(auto-fit, minmax(320px,1fr));                          
place-items: center;
gap: 50px;
}

.text_container_for_card{
    padding: 2rem;
  position: relative;
  top: -6.5rem;
  margin-bottom: -6.5rem;
  transition: 0.2s ease-in-out;
  transform: translateY(0px);
}

.text_container_for_card{
text-align: center; transform: translateY(50px);
}
.text_container_for_card:hover{
    background: white;
    color: black;
    transform: translateY(0px);
}
.Project_container:hover{
    background: white;
    color: black;
    transform: translateY(0px);
}


.Project_container:hover img {
    transform: scale(1.05);
    transition: 0.3s ease-in-out;
    opacity: 0.8;
}


.Project_container:hover .text_container_for_card {
    background: white;
    color: var(--dark-color);
    transform: translateY(0px);
  }

  /* Work_together_section */

.Work_together_section{
    background-color: #003D62;
    height: 50vh;
align-content: center;
}




  .top_contact{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    
  }
#letsworktogether{
    font-size: 70px;
    text-align: center;
    color: white;
    padding-bottom: 50px;
    font-weight: 600;
}
 
.bottom_contact{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
  .contact_way{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .contact_way i{
  scale: 2;
  color: white;
  }

  .contact_way h3{
    font-size: 25px;
    padding: 20px 20px;
    color: white;
  }


.copyright_section{
    height: 90px;
    align-content: center;
    text-align: center;
    background-color: #003251 ;
}

.copyright_section p{
    font-size: 25px;
    font-weight: 700;
    color: white;
 
}


#Frontend {

    font-size: 4rem;
    font-weight: bold;
overflow: hidden; /* Ensures the content is not revealed until the animation */
border-right: 0.15em solid orange; /* The typwriter cursor */
white-space: nowrap; /* Keeps the content on a single line */
margin: 0 auto; /* Gives that scrolling effect as the typing happens */ /* Adjust as needed */
animation: typing 5s steps(40, end), blink-caret 0.75s step-end infinite;
}
@keyframes typing {
from {
  width: 0;
}
to {
  width: 100%;
}
}

@keyframes blink-caret {
from,
to {
  border-color: transparent;
}
50% {
  border-color: orange;
}
}



.Photo_container{
    border-radius: 100px 0px 100px 0px;
    overflow: hidden;
}





@media (max-width:900px) {
    html{
        font-size: 32%;
    }
    .Container{
        max-width: 500px;
    }

    .Container_for_nav{
        max-width:377px;
    }

    .Container_for_nav{
        max-width: 370px;
        margin: 0px auto;
       
    }
    .Container_for_nav{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    
    
    nav{
    background-color: #0089B7;
    height: 40px;
    align-content: center;
    }
    
    nav h1{
        padding: 15px;
        font-size:20px;
        color: white;
    }
    .links ul {
    display: flex;
    flex-direction: row;
    gap: 10px;
    list-style: none;
    padding: 15px;
    }
    .links li{
        font-size: 15px;
        color: white;
    }
    .links a{
        text-decoration: none;
        border: none;
    }
    
    span#Hi{
        color: yellow;
    }
    
    /* Main_Content */
    
    .Container{
        max-width: 100%;
        margin: 0px auto;
    }
    .Photo_container img{
        height: 300px;
        margin-bottom: 30px;
    }
    .Hero_section_container{
        display: flex;
        flex-direction: column;
       align-items: center;
     justify-content: space-between;
     padding: 50px;
    }
    
    #Hero_section{
    background-color:#003D62;
    border-bottom: 5px solid #00668F;
    }
    
    #Hi{
        font-size: 40px;
    }
    
    #Im{
        font-size: 20px;
    }
    
    #Sanjay{
        font-size: 40px;
    margin-left: 5px;
    }
    
    
    
    #Hi,#Im,#Sanjay,#Frontend{
        color: white;
    }
    
    /* Project_section */
    
    
    
    
    
    #Project_section{
        background-color: #003251;
        height:min-content;
        padding-bottom: 30px;
       
    }
    .text_Container{
        align-self: center;
        margin: 0px auto;
    }
    #Projects{
        padding: 20px 0px;
        font-size:25px;
        color: white;
        text-align: center;
    }
    
    .Project_container{
        border-radius: 20px;
        overflow: hidden;
    }
    
    .Grid_container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px,1fr));                          
    place-items: center;
    gap: 50px;
    }
    
    .text_container_for_card{
        padding: 2rem;
      position: relative;
     
      transition: 0.2s ease-in-out;
      transform: translateY(0px);
    }
    
    
    .text_container_for_card{
        background: white;
        color: black;
        transform: translateY(0px);
    }


    .Project_container{
        background: white;
        color: black;
        transform: translateY(0px);
    }
    .Project_container h3{
        font-size: 16px;
        text-decoration: none;
        padding-bottom: 10px 0px;
    }
    
    .Project_container:hover img {
        transform: scale(1.05);
        transition: 0.3s ease-in-out;
        opacity: 0.8;
    }
    
    
    .Project_container:hover .text_container_for_card {
        background: white;
        color: var(--dark-color);
        transform: translateY(0px);
      }
    
      /* Work_together_section */
    
    .Work_together_section{
        background-color: #003D62;
        height:300px;
    align-content: center;
    }
    
      .top_contact{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    margin-bottom: 15px;
        
      }
    #letsworktogether{
        margin: 0px;
        font-size: 30px;
        text-align: center;
        color: white;
        font-weight: 600;
    }
     
    .bottom_contact{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0px;
    }
      .contact_way{
   display: flex;
   flex-direction: column;
        font-size: 10px;
        align-items: center;
        justify-content: center;
        
       
      }
      .social_media_icons{
        padding: 10px;
      }
    
      .contact_way i{
      color: white;
      padding: 0px;
      margin: 0px;
      }
    
      .contact_way h3{
        font-size: 15px;
        color: white;
      }
    
    
    .copyright_section{
        height: 45px;
        align-content: center;
        text-align: center;
        background-color: #003251 ;
    }
    
    .copyright_section p{
        font-size: 12px;
        font-weight: 700;
        color: white;
     
    }
    
    
    #Frontend {
    
        font-size: 4rem;
        font-weight: bold;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: 0.15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */ /* Adjust as needed */
    animation: typing 5s steps(40, end), blink-caret 0.75s step-end infinite;
    }




    }