*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.2;

        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-style: bold;
    
      
}
.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .roboto-thin-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .roboto-medium-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .roboto-bold-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .roboto-black-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
  }
  
.Container{

    max-width: 1200px;
    margin: 0px auto;
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 30px 0px;
}
nav h1{
    font-size: 30px;
    font-weight: 600;
}

.NavLinks{
    display: flex;
    gap: 20px;
}
.NavLinks p{
    font-size: 20px;
}
.socailmediaicons {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.fa {
    margin: 0px 15px;
    scale: 1.4;
}


/* Hero_container */

.Hero_container{

margin-top: 80px;
    display: flex;
    font-display:row;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.Text_container h1{
font-size: 65px;
margin-bottom: 20px;
}
.Text_container p{
    font-size: 20px;
}
.photo_container img{
    border-radius: 80px;
    width:800px;
}


/* Card_section */

.Card_section{
   margin-top: 150px;
    display: flex;
    flex-direction: row;
    box-shadow: 1px 1px 5px 1px rgb(233, 233, 233);
}

.text_container{
    align-items: left;
    padding: 41px;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
}
.text_container h1{
    font-size:30px;
    font-family: "Roboto", sans-serif;
    font-weight: 550;
    font-style: normal;
}


.text_container p{
    font-size: 14px;
}

.bottom_of_card{
   justify-content: space-between;
    display: flex;
    align-items: end;
    align-content: end;
}

.Card_conatiner{
display: flex;
justify-content: space-between;
margin: 50px auto;
width: 100%;
}
.card{
    max-width: 300px;
text-align: left;
box-shadow: 1px 1px 10px 2px rgb(233, 233, 233);

border-radius:5px;
overflow: hidden;
}

.card img{
    width: 300px;

}
.Text_container_of_3card{
    padding: 20px 20px;
}
.card h1{
    margin-bottom: 10px;
    font-size: 25px;
    font-family: "Roboto", sans-serif;
    font-weight: 550;
    font-style: normal;
}
.card p{
    font-size: 12px;
    text-align: justify;
}
.PP{
    margin-bottom: 20px;
}

/* Laptop_container */
.Laptop_container{
    display: flex;
    box-shadow: 1px 1px 10px 2px rgb(233, 233, 233);
    background-color: #e3ecf2;
}

.text__of_latop_conatiner{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding:100px 50px;
}
.text__of_latop_conatiner h1{
    font-weight: 700;
}
.button_flex{
    margin: 30px;
    display: flex;
    justify-content: end;
   
}

button {
    display: flex;  
    justify-content: center;  
    align-content: center;
    background-color: #fff824;
    align-self: self-end;
   margin-bottom: 20px;
   border: none;
   border-radius: 10px;
}
button img{
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-self: center;

 }

 .button_content{
display: flex;
align-self: center;
padding: 12px 20px;
 }

 .button_content p{
    display: flex;
    justify-content: center;
    align-self: center;
    color: black;
    font-size: 16px;
    font-weight: 800;
    margin-right: 5px;
 }

 .divison{
    width: 100%;
    border: 1px solid #ccc;
    margin-bottom: 30px;
 }



 /* Post_css */

.container1{
    max-width: 1000px;
    margin: 0px auto;
}
 .banner_container{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    max-width: 1200px;
 }
 .banner_container img{
    width: 1000px;
 }

 .Hero_Section{
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0px auto;
 }
.Text_container h1{
    font-size: 60px;
    font-weight: 550;
    margin-top: 20px;
    margin-bottom: 0px;
}
.Text_container h3{
    font-size: 20px;
    font-weight: 550;
    margin: px 0px;
    margin-right: 20px;
}

.Text_container h4{
    font-size: 18px;
    font-weight: 400;
    margin: 20px 0px;
}
.Author_and_Date{
    display: flex;
    flex-direction: row;
    align-items:center;
}

.divison1{
    width: 100%;
    border: 1px solid #ccc;
    margin: 30px 0px;
 }

 /* .Paragraph_section */
 
 .Paragraph_section h2{

 font-size: 30px;
    font-weight: 550;
    margin-top: 20px;
    margin-bottom: 0px;
 }

 .Paragraph_section p{
    font-size: 16px;
    font-weight: 100;
    margin-top: 20px;
    margin-bottom: 0px;
 }

 .Paragraph_section h3{
    font-size: 30px;
    font-weight: 550;
    margin-top: 20px;
    margin-bottom: 0px;
 }

 .bottom_nav_of_post{
    margin-top: 50px;
 }


 a{
    text-decoration: none;
 }

 a p{
   
    border-bottom: 3px white solid transparent;

 }
 a p:hover{
    padding-bottom: 5px;
border-bottom: 3px black solid ;

transition-duration: 0.1s;
 }



