html,body{
    height: 100%;
    margin: 0;
    font-size: 16px;
    font-family: "lato",sans-serif;
    font-weight: 400;
    line-height: 1.8em;
    color: #666;
}

.pimg1{
min-height: 100%;
background-image: url(image1.png);

background-repeat: no-repeat;
position: relative;
background-size: cover;
background-position: center;
}

.pimg2{
    min-height: 100%;
    background-image: url(image2.png);}

    .pimg3{
        min-height: 100%;
        background-image: url(image3.png);}

.pimg1, .pimg2, .pimg3 {
background-repeat: no-repeat;
position: relative;
background-size: cover;
background-position: center;
background-attachment: fixed;
}

.ptext{
    position: absolute;
    top: 50%;
    width: 100%;
    text-align:center ;
    font-size: 30px;
    color: aliceblue;
    letter-spacing: 5px;
    text-transform: uppercase;
    background;
    
}

.textbg{
    background-color: black;
    color: aliceblue;
    padding: 20px;
    border-radius: 5px;
}
.section{
    padding: 50px 50px;
    text-align: center;
}
.section-light{
background-color: black;
color: white;
text-align: justify;
}
h1{
    text-align: center;
}